<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if response.is_some() %}
        {{ response.as_ref().unwrap() }}
    {% endif %}
    <form action="/form" method="post">
        <input type="text" name="csrf_token" hidden="true", value="{{ csrf_token }}">
        <label for="data">Data:</label><input name="data" type="text">
        <button>Submit</button>
    </form>
</body>
</html>