<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if github_id == 0 %}
        <h2>Welcome {{ username }}!</h2>
        <a href="/auth/github">Login with Github</a>
    {% else %}
        <h2>Welcome {{ username }}!</h2>
        <p>Your github id is: {{ github_id }}</p>
        <a href="/auth/logout">Logout</a>
        <a href="/secret">Secret Page</a>
    {% endif %}
    <p>
        You visited this page {{ count }} times.
    </p>
    <p>
        <a href="/form">Form Page</a>
    </p>
</body>
</html>
