<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Page</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h2>{{ username }}</h2>
    <button hx-get="/repos" hx-swap="outerHTML" hx-trigger="click once" hx-indicator="#loader">
        Click Me
    </button>
    <div id="loader" class="htmx-indicator">Loading2</div>
    {{ box_template|safe }}

</body>
</html>